*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  
  
  /* untuk membuat warna yang di mau  */
    :root{
      --primary-color: #EADBC8;
    }
  
  /* font dari gooogle font */
  
  .lobster-regular {
    font-family: "Lobster", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }
  
  
  .poppins-regular {
      font-family: "Poppins", serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .poppins-medium {
      font-family: "Poppins", serif !important;
      font-weight: 500;
      font-style: normal;
    }
    
    .poppins-semibold {
      font-family: "Poppins", serif;
      font-weight: 600;
      font-style: normal;
    }
    
    .poppins-bold {
      font-family: "Poppins", serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .poppins-medium-italic {
      font-family: "Poppins", serif;
      font-weight: 500;
      font-style: italic;
    }
    
    .poppins-bold-italic {
      font-family: "Poppins", serif !important;
      font-weight: 700;
      font-style: italic;
    }
  
    /* navbar */
  
    .navbar{
      position: sticky !important;
      top: 0 !important;
      z-index: 100 !important;
    }
    
    .active1{
      color: var(--primary-color) !important;
    }
  
    .color{
      color: #fff !important;
    }
  
    .color:hover{
      color: var(--primary-color) !important;
    }
  
  
    /* card */
  
    .card-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 100px;
    }
  
    .card{
      width: 300px;
      height: 1000px;
      background-color: #0f0f0f;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      margin: 20px;
    }
  
    .card img{
      width: 100%;
      height: auto;
      border-radius: 8px 8px 0 0;
    }
  
    .card-content{
      padding: 16px;
    } 
    .card-content h3{
      
      font-size: 28px;
      margin-bottom: 8px;
    }
  
    .card-content p{
      color: #666;
      font-size: 15px;
      line-height: 1.3;
    }
  
  .baner-text{
    position: absolute;
    top: 0;
    padding: 2%;
    margin-top: 20%;
    color: #fff;
  }
  .baner-text h3{
    color: #0F2C59;
  }
  
  .card{
    transition: all 0.3s;
  }
  
  .card:hover{
    transform: scale(1.15);
  }
  
  .isi-about{
    background-color: aqua;
    width: 50%;
    height: 60%;
  }
  
  .card-about{
    width: 280px;
      height: 240px;
      background-color: #ffffff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      margin: 20px;
      
      
  }
  
  .card-about ul{
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    
    
  }
  
  
  .ttg{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 15px;
    
  }
  
  .visi{
    margin-left: 5%;
    text-decoration: underline #0F2C59 2px ; 
  }
  .visi h3{
    font-size: 50px;
  }
  
  
  
  .about1{
    color: #fff;
    margin-left: 10%;
    padding-bottom: 5%;
    background-color: #0F2C59;
    width: 30%;
    height: auto;
    display: flex;
  
  
    margin-bottom: 5%;
    border: #fff solid 2px;
    border-radius: 8px;
    box-shadow: #666 5px 5px 5px;
  }
  
  .text-about{
    list-style-type: decimal;
    margin-top: 20px;
  }
  .text-about li{
    padding: 15px;
  }
  
  .ke2{
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  .judul-misi{
    margin-right: 5%;
    text-decoration: underline #0F2C59 2px ;
  }
  .judul-misi h3{
    font-size: 50px;
  }
  
  .about2{
    color: #fff;
    margin-right: 10%;
    padding-bottom: 5%;
    background-color: #0F2C59;
    width: 30%;
    height: auto;
    display: flex;
    margin-bottom: 5%;
    border: #fff solid 2px;
    border-radius: 8px;
    box-shadow: #666 5px 5px 5px;
  }
  
  .text-about2{
    text-align: center;
    margin-top: 10%;
    padding: 10px;
  }
  
  
  
  
  .ajakan{
    text-align: center;
    color: #ffffff;
    background: #0F2C59;
    padding: 20px;
    width: 50%;
    max-width: 50%;
    border-radius: 20px;
    margin: auto;
  
  
  }
  
  .ajakan p{
    color: #ffffff;
    font-size: 12px;
  }
  
  .ajakan h3{
    font-size: 20px;
  }
  
  /* layanan kami */
  .keungulan{
    background-color: #0F2C59;
    color: #ffffff;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  
  
  
  
  
  
  
  
  /* untuk kontak */
  
  .kontak{
    background-color: #0F2C59;
    /* background: linear-gradient(to left, #0F2C59, #ffffff);  */
    position: relative;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5.2);
    width: 50%;
    display: flex;
    margin: auto;
    padding-left: 3%;
  
  }
  
  
  .kontak-info{
    padding: 12px;
  }
  
  .kontak-info input{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ffffff;
    border-radius: 5px;
  }
  
  .kontak-info textarea{
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .kontak-info [type="submit"]{
    width: 50%;
    padding: 10px;
    background-color: #7e7e7ece;
    color: #363636;
    border: #000000 solid 2px;
    border-radius: 5px;
    cursor: pointer;
  
  }
  .kontak-info [type="submit"]:hover{
    background-color: #474747;
    color: #ffffff;
  
  }
  .kontak-info [type="text"]{
    width: 500px;
    background-color: rgb(190, 190, 190);
    border: #000000 solid 2px;
  }
  .kontak-info [type="email"]{
    background-color: rgb(190, 190, 190);
    border: #000000 solid 2px;
    width: 500px;
  
  }
  .kontak-info [name="message"]{
    color: #000000;
    background-color: rgb(190, 190, 190);
    border: #000000 solid 2px;
  }
  
  
  
  .kontak-info button{
    width: 50%;
    padding: 10px;
    background-color: #6b6868ce;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  .alamat{
    color: rgb(255, 255, 255);
    margin: 40px;
    padding: 40px;
    background-color: #373737;
    border-radius: 8px;
    align-items: center;
  
  }
  .bungkus{
  
    padding-left: 10px;
    text-align: left;
  }
  .bungkus p{
    padding: 10px;
  }
  
  .footer{
    display: flex;
    justify-content: space-between;
    background-color: #0F2C59;
    color: #ffffff;
    padding: 20px;
  }
  .copyright{
    padding: 20px;
  }
  .link-kami{
    padding: 20px;
  }
  .link-kami a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
  }
  .sosmed{
    padding: 10px;
  }
  .sosmed img{
    padding: 10px;
  }
  
  .tombol{
    padding-top: 3%;
  }
  
  .tombol a, .tombol button{
    width: 12%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #ffffffd5;
    background-color: #0F2C59;
    border-radius: 10px;
  
  }
  .tombol a, .tombol button:hover {
    background-color: #021531;
    color: #ffffff;
  
  }
  
  .transisi{
    letter-spacing: 2px;
    transition: 0,4s;
  }
  
  
  
  